.alinhar{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 3vw;
    text-indent: 10mm;
    line-height: 4vw;
}

.tcentral{
    margin-top: 5vw;
    font-size: 5vw;
    text-align: center;
}


