.estlo {
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: underline;
    text-ident: 5px;
    text-shadow: 10px 10px 5px rgb(132, 0, 255);
}

.estilo2, .estilo{
  word-spacing: 10pt;
  text-decoration: none;
  letter-spacing: 1.5px;
  line-height: 25px;
  direction:initial; /*Direção do Texto*/
}

